<ion-header>
  
  <ion-toolbar>
    <ion-title>Ubicaciones</ion-title>

  </ion-toolbar>
</ion-header>
<ion-content>
  <div class="container">
    <div class="perfil">
         
        <div class="row">
            <div class="col-3">
                <img src="https://images.unsplash.com/photo-1527980965255-d3b416303d12?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=1100&q=80 " class="img-thumbnail">
            </div>
            <div class="col-9">
              <h3>Nombre</h3> 
              <h3>Brigadista</h3>
            </div>
          </div>
        </div>     
          <table class="table">

              <tbody>
                <tr>
                  <th scope="row"></th>
                  <td>Mark</td>
                  <td>Otto</td>
                  <td>@mdo</td>
                </tr>
                <tr>
                  <th scope="row"></th>
                  <td>Jacob</td>
                  <td>Thornton</td>
                  <td>@fat</td>
                </tr>
                <tr>
                  <th scope="row"></th>
                  <td>Larry</td>
                  <td>the Bird</td>
                  <td>@twitter</td>
                </tr>
              </tbody>
            </table>
  </div>   



  
</ion-content>
