<ion-header>
    <<<<<< HEAD <ion-toolbar>
        <ion-buttons slot="start">
            <ion-back-button defaultHref="/"></ion-back-button>
        </ion-buttons>
        <ion-title>Perfil</ion-title>
        <ion-buttons slot="end">
            <div class="btn-group btn-group-toggle" data-toggle="buttons">
                <label class="btn btn-secondary">
                  <input type="radio" name="options" id="option3" autocomplete="off"> Logout
                </label>
            </div>
        </ion-buttons>

        </ion-toolbar>
</ion-header>
<ion-content>
    <div class="container">
        <div class="perfil">

            <div class="row">
                <div class="col-3">
                    <img src="https://image.flaticon.com/icons/svg/149/149071.svg">
                </div>
                <div class="col-9">
                    <h3>{{ usuario.nombre }}</h3>
                    <h3>{{ usuario.ocupacion }}</h3>
                </div>
            </div>
        </div>
        <table class="table mt-4">
            <tbody>
                <tr>
                    <th scope="row"></th>
                    <td>Latitud:</td>
                    <td>{{ usuario.ubicacion.latitude }}</td>
                </tr>
                <tr>
                    <th scope="row"></th>
                    <td>Longitud:</td>
                    <td>{{ usuario.ubicacion.longitude }}</td>
                </tr>
                <tr>
                    <th scope="row"></th>
                    <td>Larry</td>
                </tr>
            </tbody>
        </table>
    </div>

</ion-content>