<ion-header>
  
  <ion-toolbar>
      <div class="row">
          <div class="col-8">
              <ion-title>Perfil </ion-title>
          </div>
          <div class="col-4">
              <div class="btn-group btn-group-toggle" data-toggle="buttons">
                  <label class="btn btn-secondary active">
                    <input type="radio" name="options" id="option1" autocomplete="off" checked> Mapa
                  </label>
                  <label class="btn btn-secondary">
                    <input type="radio" name="options" id="option2" autocomplete="off"> Registro
                  </label>
                  <label class="btn btn-secondary">
                    <input type="radio" name="options" id="option3" autocomplete="off"> Logout
                  </label>
                </div>
          </div>
        </div>
  </ion-toolbar>
</ion-header>
<ion-content>
  <div class="container">
    <div class="perfil">
         
        <div class="row">
            <div class="col-3">
                <img src="https://image.flaticon.com/icons/svg/149/149071.svg">
                
            </div>
            <div class="col-9">
              <h4>Nombre</h4> 
              <h4>Brigadista</h4>
            </div>
          </div>
        </div>
          <table class="table">

              <tbody>
                <tr>
                  <th scope="row"></th>
                  <td>Mark</td>
                  <td>Otto</td>
                </tr>
                <tr>
                  <th scope="row"></th>
                  <td>Jacob</td>
                  <td>Thornton</td>
                </tr>
                <tr>
                  <th scope="row"></th>
                  <td>Larry</td>
                  <td>the Bird</td>
                </tr>
              </tbody>
            </table>
  </div>   



  
</ion-content>
