<ion-header>
    <ion-toolbar>
        <ion-title>Dashboard</ion-title>
    </ion-toolbar>
    <ion-buttons slot="end">
        <ion-button (click)="logout()">Cerrar sesion</ion-button>
    </ion-buttons>
</ion-header>

<ion-content padding>

    <div>
        <ion-button (click)="showLocation()">Mostrar ubicacion</ion-button>
    </div>

    <ion-button (click)="verPerfil()">Ver perfil</ion-button>

    <div #mapElement class="map"></div>

    <ion-list>
        <ion-item *ngFor="let user of users">
            <ion-label (click)="verOtroUsuario(user.uid)">{{ user.nombre }}</ion-label>
        </ion-item>
    </ion-list>


</ion-content>